    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About the apartment</h2>
              <br/>
                <p>This spacious 2-bedroom apartment, which sleeps 6, is located within the heart of tourist London. A stone's throw from the British Museum, the British Library, Covent Garden and its theatres, Waterloo Bridge and many more London landmarks. </p>
                <p>This modern flat comprises all the latest conveniences including a dishwasher, 'Mile' washing machine, tumble dryer, fridge-freezer, cable flat screen TV and free wireless internet access.</p>
                <p>Located on the second floor (no lift), this modern, sunny apartment is comfortable, clean and very practical.</p>
                <br/>
              </div>
        </div>
    </section>
